<div class="absolute inset-0 bg-white">
    <div class="relative flex pt-6 px-6 md:px-8">
        <div class="text-4xl font-extrabold tracking-tight">Clinical Analysis</div>
      </div>

      <div class="w-full pt-6 px-6 md:px-8">
        
        <!-- <iframe title="NephKare Reports 1.0" class="w-full" style="height: 85vh;" src="https://app.powerbi.com/view?r=eyJrIjoiYjE0ODEwYmQtODVmNC00ODFlLWI0ZTMtNDIyMzQyYjdjZThhIiwidCI6Ijk5NGJjMDU3LTBmMmUtNGU3Ni04MjIyLTc5MjE3NWE4OWMwZSJ9" frameborder="0" allowFullScreen="true"></iframe> -->
        <!-- <iframe title="NephKare Reports 1.0" class="w-full" style="height: 85vh;"  src="https://app.powerbi.com/view?r=eyJrIjoiYjE0ODEwYmQtODVmNC00ODFlLWI0ZTMtNDIyMzQyYjdjZThhIiwidCI6Ijk5NGJjMDU3LTBmMmUtNGU3Ni04MjIyLTc5MjE3NWE4OWMwZSJ9" frameborder="0" allowFullScreen="true"></iframe> -->
        <!-- <iframe title="CKD Report Analysis 2025"  class="w-full" style="height: 85vh;" src="https://app.powerbi.com/view?r=eyJrIjoiMzY5ZTEyMDQtOTIyZS00ZTI2LTgwMzktZmY4YTI0ODIxOGIzIiwidCI6Ijk5NGJjMDU3LTBmMmUtNGU3Ni04MjIyLTc5MjE3NWE4OWMwZSJ9" frameborder="0" allowFullScreen="true"></iframe> -->
         <!-- <iframe  title="CKD Dashboard V.0" class="w-full" style="height: 85vh" src="https://app.powerbi.com/view?r=eyJrIjoiNGJhZjY3ODQtMTY4Ny00NjE4LWEyNWEtOWRmNTI5YmVjMzU2IiwidCI6Ijk5NGJjMDU3LTBmMmUtNGU3Ni04MjIyLTc5MjE3NWE4OWMwZSJ9" frameborder="0" allowFullScreen="true"></iframe> -->
         <iframe title="NephKare Reports 1.0" class="w-full" style="height: 85vh" src="https://app.powerbi.com/view?r=eyJrIjoiYjE0ODEwYmQtODVmNC00ODFlLWI0ZTMtNDIyMzQyYjdjZThhIiwidCI6Ijk5NGJjMDU3LTBmMmUtNGU3Ni04MjIyLTc5MjE3NWE4OWMwZSJ9" frameborder="0" allowFullScreen="true"></iframe>

       
    </div>
    <!-- Main -->
   
</div>