<div class="w-full max-w-3xl">
  <!-- Form -->

  <!-- Section -->
  <div class="w-full">
    <!-- <div class="text-xl">Profile</div>  -->
    <!-- <div class="text-secondary">
        Following information is publicly displayed, be careful!
      </div> -->
    <div class="mt-8">
      <label class="hoverable" for="fileInput" (mouseenter)="onMouseEnter()">
        <img [src]="photo ? photo : 'assets/images/avatars/img_avatar.png'" />

        <div class="background"></div>
        <div
          (mouseenter)="onMouseEnter()"
          class="ml-12 mt-3 flex items-center justify-between"
        >
          <div
            class="bg-gy py-0.5 px-3 rounded-full text-sm font-semibold text-pink-800 bg-gray-100 dark:text-pink-50 dark:bg-gray-500 ng-star-inserted"
          >
            Upload
          </div>
          <div class="flex items-center"></div>
        </div>
      </label>

      <br />
      <input id="fileInput" type="file" (change)="onSelectFile($event)" />
      <div class="delete-trash"></div>
    </div>
  </div>
  <form [formGroup]="accountForm">
    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
      <div class="sm:col-span-2">
        <mat-form-field
          class="fuse-mat-no-subscript w-full"
          floatLabel="always"
        >
          <mat-label>Name<span>*</span></mat-label>
          <mat-icon
            class="icon-size-5"
            [svgIcon]="'heroicons_solid:user'"
            matPrefix
          ></mat-icon>
          <input
            autofocus
            placeholder="Enter"
            class="capitalize"
            [formControlName]="'name'"
            matInput
          />
        </mat-form-field>
      </div>

      <!-- <div class="sm:col-span-2" *ngIf="!accountInfo?.isadmin_account">  
        <mat-form-field class="fuse-mat-no-subscript w-full" floatLabel="always">
          <mat-label>Gender<span>*</span></mat-label>
          <mat-select placeholder="Select" [formControlName]="'gender'">
            <mat-option  [value]="'male'">Male</mat-option>
            <mat-option  [value]="'female'">Female</mat-option>
            <mat-option  [value]="'other'">Other</mat-option>
          </mat-select>
        
        </mat-form-field>
      </div> -->
      <!-- Email -->
      <div class="sm:col-span-2">
        <mat-form-field
          class="fuse-mat-no-subscript w-full"
          floatLabel="always"
        >
          <mat-label>Email<span>*</span></mat-label>
          <mat-icon
            class="icon-size-5"
            [svgIcon]="'heroicons_solid:mail'"
            matPrefix
          ></mat-icon>
          <input
            placeholder="Enter"
            [formControlName]="'email'"
            matInput
            disabled
          />
        </mat-form-field>
      </div>
      <!-- Phone -->
      <div class="sm:col-span-2">
        
        <mat-label style="font-weight: 500;font-size: 14px;margin-bottom: 10px;">Phone<span>*</span></mat-label>
        <ngx-intl-tel-input
          [cssClass]="'custom'"
          [preferredCountries]="preferredCountries"
          [enableAutoCountrySelect]="true"
          [enablePlaceholder]="true"
          [searchCountryFlag]="true"
          [searchCountryField]="[
            SearchCountryField.Iso2,
            SearchCountryField.Name,
          ]"
          [selectFirstCountry]="false"
          [selectedCountryISO]="CountryISO.India"
          
          [phoneValidation]="true"
          [separateDialCode]="separateDialCode"
          [numberFormat]="PhoneNumberFormat.International"
          name="phone"
          formControlName="phone"
        >
        </ngx-intl-tel-input>
        <div class="text-red-500"
          *ngIf="
            accountForm.get('phone')?.invalid &&
            accountForm.get('phone')?.touched
          "
        >
          Invalid phone number
        </div>
      </div>
      

      <div class="sm:col-span-2">
        <mat-form-field
          class="fuse-mat-no-subscript w-full"
          floatLabel="always"
        >
          <mat-label>City<span>*</span></mat-label>
          
          <input
            autofocus
            placeholder="Enter"
            class="capitalize"
            [formControlName]="'city'"
            matInput
          />
        </mat-form-field>
      </div>
      <div class="sm:col-span-2">
        <mat-form-field
          class="fuse-mat-no-subscript w-full"
          floatLabel="always"
        >
          <mat-label>State<span>*</span></mat-label>
          
          <input
            autofocus
            placeholder="Enter"
            class="capitalize"
            [formControlName]="'state'"
            matInput
          />
        </mat-form-field>
      </div>
      <div class="sm:col-span-2">
        <mat-form-field
          class="fuse-mat-no-subscript w-full"
          floatLabel="always"
        >
          <mat-label>Country<span>*</span></mat-label>
          
          <input
            autofocus
            placeholder="Enter"
            class="capitalize"
            [formControlName]="'countryname'"
            matInput
          />
        </mat-form-field>
      </div>
      
    </div>

    <!-- Divider -->
    <div class="mt-11 mb-10 border-t"></div>

    <!-- Actions -->
    <div class="flex items-center justify-end">
      <button
        class="border-solid border-primary-500 text-primary-500 mr-1"
        mat-flat-button
        type="button"
        [disabled]="accountForm.pristine"
        (click)="cancelUpdate()"
      >
        Cancel
      </button>
      <button
        class="ml-4"
        mat-flat-button
        type="button"
        [disabled]="accountForm.pristine || accountForm.invalid"
        [color]="'primary'"
        (click)="updateAccount()"
      >
        Update<mat-progress-spinner
          *ngIf="isLoadingSpinner"
          [diameter]="24"
          [mode]="'indeterminate'"
        ></mat-progress-spinner>
      </button>
    </div>
  </form>
</div>
