<!-- <iframe src="https://tokbox.com/embed/embed/ot-embed.js?embedId=8accef60-4b1f-4de3-a652-e0fb398a6bd7&room=DEFAULT_ROOM&iframe=true" width=800 height=640 scrolling="auto" allow="microphone; camera" ></iframe> -->

<!-- <div *ngIf="session" class="w-full h-full">
  <app-publisher [session]="session"></app-publisher>
  <app-subscriber *ngFor="let stream of streams" [stream]="stream" [session]="session"></app-subscriber>
</div> -->


<iframe *ngIf="data" style="width: 60%;height: 80%;" src="https://4phealthcare.whereby.com/nephkare30ef1210-aea0-4def-a5af-089768fd9b61" allow="camera; microphone; fullscreen; speaker; display-capture"></iframe>