<div
  class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent"
> 
  <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center py-4 px-6 md:px-8 border-b justify-between">
    <div class="ml-3 text-4xl font-extrabold tracking-tight w-1/3">Test List</div>

  <div class="ml-6 text-4xl font-extrabold tracking-tight w-2/3"> 
   
     <mat-form-field
     class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-6/12"
   >
     <mat-icon
       class="icon-size-5"
       matPrefix
       [svgIcon]="'heroicons_solid:search'"
     ></mat-icon>
     <input
       matInput
       (input)="filterData($event.target.value)" 
       [autocomplete]="'off'"
       [placeholder]="'Search for Patient Name, Phone Number, UHID'"
     />
   </mat-form-field>
   <form [formGroup]="dateForm" class="inline-flex absolute ml-2.5 mt-1.5">
   
      <!-- <mat-form-field
      class="fuse-mat-no-subscript  fuse-mat-rounded mr-2 mh-40"
    >
      <input
        matInput
        formControlName="fromDate"
        [matDatepicker]="fromDatepicker"
        [placeholder]="'From'"
        (focus)="fromDatepicker.open()"
        (click)="fromDatepicker.open()"
       
      />
      <mat-datepicker-toggle matSuffix [for]="fromDatepicker">
      </mat-datepicker-toggle>
      <mat-datepicker #fromDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field
        class="fuse-mat-no-subscript  fuse-mat-rounded mr-2 mh-40"
      >
        <input
          matInput
          formControlName="toDate"
          [matDatepicker]="toDatepicker"
          [placeholder]="'To'"
          (click)="toDatepicker.open()"
          (focus)="toDatepicker.open()"
        
        />
        <mat-datepicker-toggle matSuffix [for]="toDatepicker">
        </mat-datepicker-toggle>
        <mat-datepicker #toDatepicker></mat-datepicker>
      </mat-form-field> -->
      
      <mat-form-field   class="fuse-mat-no-subscript  fuse-mat-rounded mr-2 mh-40 w-67 " floatLabel="always">
          
            
        <mat-date-range-input
        separator="to"
          [rangePicker]="dateFormpicker"
          [comparisonStart]="dateForm.value.start"
          [comparisonEnd]="dateForm.value.end"
          (click)="dateFormpicker.open()">
          
          <input matStartDate placeholder="From date" formControlName="fromDate">
          <input matEndDate placeholder="To date" formControlName="toDate">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY to MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dateFormpicker"></mat-datepicker-toggle>
        <mat-date-range-picker #dateFormpicker></mat-date-range-picker>
      </mat-form-field>
    
      <button class="ml-2" 
      (click)="addTestModel()"
       mat-flat-button 
       [color]="'primary'">
        <mat-icon [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
        <span class="ml-2 mr-1">Add</span>
      </button>
        
    
  </form>
  
  </div>
  


</div>

  <!-- Main -->
  <div class="flex flex-auto overflow-hidden">
     
      <div
        class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto"
      >
        <ng-container *ngIf="patients$ | async as patients; else noPatients">
          <div class="grid">
           
            <div
              class="z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
              matSort
              [ngClass]="{'front-desk-test-list': (userInfo?.role_id==474 || userInfo?.role_id==481), 'test-list-grid': (userInfo?.role_id != 474 && userInfo?.role_id!=481)}"
              (matSortChange)="sortData($event)"
            >
              <div class="hidden md:block items-center">Order Id</div>
              <div
                class="hidden md:block items-center"
                
              >
                Patient Info
              </div>

              <div
                class="hidden md:block items-center"
                
              >
                Test Name
              </div>
              <div class="hidden md:block items-center"
                *ngIf="userInfo?.role_id == 474 || userInfo?.role_id == 481"
              >
              Referred by
              </div>
             
              <div class="hidden md:block items-center" >Bill Status</div>
              <div class="hidden md:block items-center" *ngIf="userInfo?.role_id != 474 && userInfo?.role_id != 481">Sample Collections</div>
              <div class="hidden md:block items-center" *ngIf="userInfo?.role_id != 474 && userInfo?.role_id != 481">Results</div>
              <div class="hidden md:block items-center" *ngIf="userInfo?.role_id != 474 && userInfo?.role_id != 481">Verification</div>
              <div class="hidden md:block items-center">Actions</div>
            </div>
            
            <ng-container *ngIf="patients$ | async as patients">
             
              <ng-container
                *ngFor="let data of patients; let i = index; trackBy: trackByFn" 
              >
                <div
                [ngClass]="{'front-desk-test-list': (userInfo?.role_id==474 || userInfo?.role_id==481), 'test-list-grid': (userInfo?.role_id != 474 && userInfo?.role_id!=481)}"
                  class=" grid items-center gap-4 py-3 px-6 md:px-8 border-b"
                >
                  <div>#{{i+1}}</div>
                  <div
                    
                  >
                    <span
                      class="font-semibold capitalize"
                      [matTooltip]="
                        data?.patient_name?.length > 25 ? data?.patient_name : ''
                      "
                      >{{
                        data?.patient_name?.length > 25
                          ? (data?.patient_name | slice: 0:25 | titlecase) + " ..."
                          : ( data?.patient_name?.trim() | titlecase )
                      }},
                    </span>
                    <span *ngIf="data?.age > 0"> {{ data?.age }} yrs,</span>
                    <span class="capitalize"> {{ data?.gender }}</span
                    ><br /><span>{{ data?.patient_uniqueid }}</span>
                    <span class="btn-bgn  ml-3" *ngIf="data?.is_subscribed
                    == true ">
                      <button 
                      class="btn-color w-10"
                      type="button"
                      >Pro</button></span>
                  </div>
                  
                  <div class="text-blue-500 cursor-pointer" (click)="openLabModal(data)">
                    <span>{{data.hospital_service}}</span> 
                    <span
                      *ngIf="data.test_count > 1"
                      class="font-semibold capitalize "
                    >
                      +{{data.test_count - 1}}
                    </span>
                  </div>
                  <div *ngIf="userInfo?.role_id == 474 || userInfo?.role_id == 481">
                    {{ data?.refered_by }}
                    <span *ngIf="data.role_id == 474">(Frontdesk)</span>
                    <span *ngIf="data.role_id == 5">(Doctor)</span>
                    <span *ngIf="data.role_id == 477">(Lab)</span>
                    <span *ngIf="data.role_id == 481">(Care Coordinator)</span>                  </div>
                 
                  <div>
                  
                    <button
                    [disabled]="userInfo?.role_id==477"
                      mat-stroked-button
                      color="purple"
                      
                      [ngClass]="{'bg-green-100' : data.pending_amount == 0 && data.total_amount !== 0, 'bg-red-100' : data.pending_amount > 0 || data.total_amount == 0}"
                      (click)="billingModel(data)"
                    >
                      <mat-icon
                      svgIcon="heroicons_solid:printer" class="mr-1"
                      ></mat-icon>{{data.total_amount}}</button>  
                      <!-- <button matTooltip="Billing" (click)="billingModel(data)">
                        <mat-icon class="" [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                      </button> -->
                      
                  </div>
                  <div *ngIf="userInfo?.role_id != 474 && userInfo?.role_id != 481"><button
                   [disabled]="data.pending_amount > 0  || data.total_amount == 0 || userInfo?.role_id==474 || userInfo?.role_id==481"
                    [ngClass]="{'bg-green-100' : data.sample_collection ===  'Collected', '' : data.sample_collection ===  'Not Collected'}"
                    (click)="viewTestList(data.lab_uniqueid,data)"
                    mat-stroked-button>
                    {{data.sample_collection}}
                  </button></div>
                  <div *ngIf="userInfo?.role_id != 474 && userInfo?.role_id != 481">
                    <div>
                      <button
                      [disabled]="data.sample_collection == 'Not Collected' || userInfo?.role_id==474 || userInfo?.role_id==481"
                      (click)="viewTestList(data.lab_uniqueid,data)"
                        mat-stroked-button
                        [ngClass]="{'bg-green-100' : data.results ===  'Results Collected', '' : data.results ===  'Results Not-Collected'}"
                        
                      >
                      <mat-icon svgIcon="heroicons_solid:plus"></mat-icon>

  
                        Add Results
                      </button> 
                    </div>
                  </div>
                  <div *ngIf="userInfo?.role_id != 474 && userInfo?.role_id != 481"> 
                    <button
                    (click)="viewTestList(data.lab_uniqueid,data)"
                    [disabled]="data.results == 'Results Not Collected' || userInfo?.role_id==474 || userInfo?.role_id==481"
                      mat-stroked-button
                      *ngIf="!data.verification"
                      class="border-none cursor-default hover-trsnsperant" 
                    >
                      <mat-icon
                        svgIcon="heroicons_solid:check-circle" class="mr-1"
                      ></mat-icon>

                      {{data.verification ? 'Verified' : 'Not Verified'}}
                    </button>
                    <button
                    *ngIf="data.verification"
                    [disabled]="data.results == 'Results Not Collected' || userInfo?.role_id==474 || userInfo?.role_id == 481"
                    (click)="viewTestList(data.lab_uniqueid,data)"
                      mat-stroked-button
                      color="primary"
                      class="border-none cursor-default hover-trsnsperant" 
                    >
                      <mat-icon
                        svgIcon="heroicons_solid:check-circle" class="mr-1"
                      ></mat-icon>

                      {{data.verification ? 'Verified' : 'Not Verified'}}
                    </button>
                  </div>
                  <div class="flex">
                    <button
                    class="min-w-10 min-h-7 h-7 px-0 leading-6"
                     [disabled]="!data.verification || userInfo?.role_id==474 || userInfo?.role_id == 481"
                    [matTooltip]="'Print'"
                    (click)="viewTestList(data.lab_uniqueid,data)"
                  >
                    <mat-icon
                      svgIcon="heroicons_outline:printer"
                    ></mat-icon>
                  </button>
                  <button
                  class="min-w-10 min-h-7 h-7 px-0 leading-6"
                 [disabled]="data.pending_amount == 0 && data.total_amount !== 0"
                  [matTooltip]="'Edit'"
                  (click)="editTest(data)"
                >
                  <mat-icon
                    svgIcon="heroicons_outline:pencil-alt"
                  ></mat-icon>
                </button>
                <button
                class="min-w-10 min-h-7 h-7 px-0 leading-6"
                [disabled]="data.pending_amount == 0 && data.total_amount !== 0"
                [matTooltip]="'Delete'"
                (click)="deeleteTest(data.lab_uniqueid,data)"
              >
                <mat-icon
                  svgIcon="heroicons_outline:trash"
                ></mat-icon>
              </button>
             
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>

          <mat-paginator
            class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
            [ngClass]="{ 'pointer-events-none': isLoading }"
            [length]="totalRecords$ | async"
            [pageIndex]="currentPage"
            [pageSize]="pageSize"
            [pageSizeOptions]="[10,5]"
            [showFirstLastButtons]="true"
            (page)="pageEvent = $event; onPageChange($event)"
          ></mat-paginator>
        </ng-container>

        <ng-template #noPatients>
          <div
            class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center"
          >
            No Records
          </div>
        </ng-template>
      </div>
    </div>
</div>

