<div class="absolute inset-0 bg-white">
  

  <div class="w-full pt-6 px-4 md:px-4"> 
   
    <iframe  id="myIframe"  title="UACR Results"  class="w-full"  style="height: 85vh" src="https://app.powerbi.com/view?r=eyJrIjoiZjcyOWJkNjAtNzE1Mi00MTk3LThiNWQtZDg1ZjI4ZmM2YTc2IiwidCI6Ijk5NGJjMDU3LTBmMmUtNGU3Ni04MjIyLTc5MjE3NWE4OWMwZSJ9" frameborder="0" allowFullScreen="true"></iframe>
    <!-- <iframe  id="myIframe" *ngIf="userInfo.admin_account == 11912" title="Hellokidney Reports 1.0" class="w-full" style="height: 85vh" src="https://app.powerbi.com/view?r=eyJrIjoiZjk5OGI2N2EtMTUyOS00OTc5LWE4ZjktOTAyNDg3MzM4MzQ0IiwidCI6Ijk5NGJjMDU3LTBmMmUtNGU3Ni04MjIyLTc5MjE3NWE4OWMwZSJ9" frameborder="0" allowFullScreen="true"></iframe>
    <iframe  id="myIframe" *ngIf="userInfo.admin_account == 17647" title="CKD Dashboard Analysis Feb2025 (1)" class="w-full" style="height: 85vh" src="https://app.powerbi.com/view?r=eyJrIjoiZDU0NzUyZjAtYzllOS00MGYyLWFlNzctMjBiODY1M2E2M2IzIiwidCI6Ijk5NGJjMDU3LTBmMmUtNGU3Ni04MjIyLTc5MjE3NWE4OWMwZSJ9" frameborder="0" allowFullScreen="true"></iframe>
    <iframe id="myIframe" *ngIf="userInfo.admin_account == 18364" title="WCN 2025"  class="w-full" style="height: 85vh" src="https://app.powerbi.com/view?r=eyJrIjoiYjU2MGE4MTAtZGUzNi00NjI0LTlhNDAtMDExYTNiOTdkYTNiIiwidCI6Ijk5NGJjMDU3LTBmMmUtNGU3Ni04MjIyLTc5MjE3NWE4OWMwZSJ9" frameborder="0" allowFullScreen="true"></iframe>
    <iframe id="myIframe" *ngIf="userInfo.admin_account == 18801" title="Hellokidney Nigeria Admin Analyticals"  class="w-full" style="height: 85vh" src="https://app.powerbi.com/view?r=eyJrIjoiZGYwMDE0ZGUtOTgwOC00OWEwLTgxM2UtNWNjMDA2Y2M0ZmQ0IiwidCI6Ijk5NGJjMDU3LTBmMmUtNGU3Ni04MjIyLTc5MjE3NWE4OWMwZSJ9" frameborder="0" allowFullScreen="true"></iframe>
    <iframe title="AFRAN 2025" id="myIframe" *ngIf="userInfo.admin_account == 18996"   class="w-full" style="height: 85vh" src="https://app.powerbi.com/view?r=eyJrIjoiODllZjY0YTItNWJiOC00NjBkLWE2MmUtNGMxMjYwMGQ4ZWFjIiwidCI6Ijk5NGJjMDU3LTBmMmUtNGU3Ni04MjIyLTc5MjE3NWE4OWMwZSJ9" frameborder="0" allowFullScreen="true"></iframe>
    <iframe title="ERA 2025" id="myIframe" *ngIf="userInfo.admin_account == 19325"   class="w-full" style="height: 85vh" src="https://app.powerbi.com/view?r=eyJrIjoiZGIzYWNmYmQtN2JkZC00NDMwLWI1MDYtMjFjMWI2ZjhlZGU3IiwidCI6Ijk5NGJjMDU3LTBmMmUtNGU3Ni04MjIyLTc5MjE3NWE4OWMwZSJ9" frameborder="0" allowFullScreen="true"></iframe>
    <iframe title="SLANH 2025" id="myIframe" *ngIf="userInfo.admin_account == 19924"   class="w-full" style="height: 85vh" src="https://app.powerbi.com/view?r=eyJrIjoiMDM0NzFlZTEtNGY3Yy00ZTk1LThmNGItMTFjZmM2N2FkODkwIiwidCI6Ijk5NGJjMDU3LTBmMmUtNGU3Ni04MjIyLTc5MjE3NWE4OWMwZSJ9%22" frameborder="0" allowFullScreen="true"></iframe>
    <iframe title="BOTSWANA 2026" id="myIframe" *ngIf="userInfo.admin_account == 20116"   class="w-full" style="height: 85vh" src="https://app.powerbi.com/view?r=eyJrIjoiODAyNTgzOWYtYjZmMC00MDc1LWE5OWQtMDBkZWQ5ZDQxMmJlIiwidCI6Ijk5NGJjMDU3LTBmMmUtNGU3Ni04MjIyLTc5MjE3NWE4OWMwZSJ9&pageName=72f57c3c85e7113253d3%22" frameborder="0" allowFullScreen="true"></iframe> -->
   
     
     
  </div>
  <!-- Main --> 
</div>
